<script>
    URLs= [];
</script>

    <script>URLs.push('/game/a-koopas-revenge-2.html');</script>

    <script>URLs.push('/game/a-koopas-revenge.html');</script>

    <script>URLs.push('/game/abandoned.html');</script>

    <script>URLs.push('/game/abobos-big-adventure.html');</script>

    <script>URLs.push('/game/above-average-guy.html');</script>

    <script>URLs.push('/game/abuba-the-alien.html');</script>

    <script>URLs.push('/game/ace-gangster-taxi.html');</script>

    <script>URLs.push('/game/ace-gangster.html');</script>

    <script>URLs.push('/game/achilles.html');</script>

    <script>URLs.push('/game/acid-bunny-2.html');</script>

    <script>URLs.push('/game/acid-bunny.html');</script>

    <script>URLs.push('/game/action-turnip.html');</script>

    <script>URLs.push('/game/adventure-drivers.html');</script>

    <script>URLs.push('/game/agario-lite.html');</script>

    <script>URLs.push('/game/age-of-defense-3.html');</script>

    <script>URLs.push('/game/age-of-defense-4.html');</script>

    <script>URLs.push('/game/age-of-defense.html');</script>

    <script>URLs.push('/game/age-of-war-2.html');</script>

    <script>URLs.push('/game/agent-dash.html');</script>

    <script>URLs.push('/game/agent-mission.html');</script>

    <script>URLs.push('/game/ahoy-survival.html');</script>

    <script>URLs.push('/game/air-wolves.html');</script>

    <script>URLs.push('/game/alien-hominid.html');</script>

    <script>URLs.push('/game/alone-in-the-madness.html');</script>

    <script>URLs.push('/game/animal-raceway.html');</script>

    <script>URLs.push('/game/animator-vs-animation-3.html');</script>

    <script>URLs.push('/game/animatronic-jumpscare-factory.html');</script>

    <script>URLs.push('/game/ant-war.html');</script>

    <script>URLs.push('/game/boxel-rebound.html');</script>

    <script>URLs.push('/game/cactus-mccoy-2.html');</script>

    <script>URLs.push('/game/candy-riddles.html');</script>

    <script>URLs.push('/game/cat-ninja-2.html');</script>

    <script>URLs.push('/game/color-tunnel-game-unblocked.html');</script>

    <script>URLs.push('/game/cooking-fever.html');</script>

    <script>URLs.push('/game/crazy-shooters-2.html');</script>

    <script>URLs.push('/game/drunken-duel-2.html');</script>

    <script>URLs.push('/game/drunken-duel.html');</script>

    <script>URLs.push('/game/farm-clash-3d.html');</script>

    <script>URLs.push('/game/fishing-io.html');</script>

    <script>URLs.push('/game/get-on-top.html');</script>

    <script>URLs.push('/game/gladihoppers.html');</script>

    <script>URLs.push('/game/grand-prix-hero.html');</script>

    <script>URLs.push('/game/hill-racing-game-unblocked.html');</script>

    <script>URLs.push('/game/icy-purple-head-3-super-slide.html');</script>

    <script>URLs.push('/game/instagirls-dress-up.html');</script>

    <script>URLs.push('/game/madalin-stunt-cars-2.html');</script>

    <script>URLs.push('/game/mahjong-quest.html');</script>

    <script>URLs.push('/game/mini-golf.html');</script>

    <script>URLs.push('/game/mini-tooth.html');</script>

    <script>URLs.push('/game/moto-x3m-3.html');</script>

    <script>URLs.push('/game/noob-miner.html');</script>

    <script>URLs.push('/game/paint-io.html');</script>

    <script>URLs.push('/game/papas-donuteria.html');</script>

    <script>URLs.push('/game/play-cookie-clicker-2-game-unblocked.html');</script>

    <script>URLs.push('/game/play-tunnel-rush-2-game-unblocked.html');</script>

    <script>URLs.push('/game/real-football.html');</script>

    <script>URLs.push('/game/red-light-green-light.html');</script>

    <script>URLs.push('/game/slap-kings.html');</script>

    <script>URLs.push('/game/snowcross-stunts-x3m.html');</script>

    <script>URLs.push('/game/spider-solitaire-2.html');</script>

    <script>URLs.push('/game/stickman-warriors.html');</script>

    <script>URLs.push('/game/ultimate-tiny-fishing.html');</script>

    <script>URLs.push('/game/unicycle-hero.html');</script>

    <script>URLs.push('/game/up-hill-racing-2.html');</script>

    <script>URLs.push('/game/uphill-rush-12.html');</script>

    <script>URLs.push('/game/vex-7.html');</script>

    <script>URLs.push('/game/vex-8-2.html');</script>

    <script>URLs.push('/game/vex-challenges.html');</script>

    <script>URLs.push('/game/will-hero.html');</script>

    <script>URLs.push('/game/1v1-lol-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/2048-16x16-board.html');</script>

    <script>URLs.push('/game/2048-abcya.html');</script>

    <script>URLs.push('/game/2048-cupcakes.html');</script>

    <script>URLs.push('/game/2048-doge.html');</script>

    <script>URLs.push('/game/2048-original.html');</script>

    <script>URLs.push('/game/2048-taylor-swift.html');</script>

    <script>URLs.push('/game/60-seconds-reatomized.html');</script>

    <script>URLs.push('/game/a-difficult-game-about-climbing.html');</script>

    <script>URLs.push('/game/agar-io.html');</script>

    <script>URLs.push('/game/alternate-watch-anomalies.html');</script>

    <script>URLs.push('/game/alternate-watch.html');</script>

    <script>URLs.push('/game/amanda-the-adventurer-2.html');</script>

    <script>URLs.push('/game/amanda-the-adventurer-3.html');</script>

    <script>URLs.push('/game/among-us-minecraft.html');</script>

    <script>URLs.push('/game/among-us.html');</script>

    <script>URLs.push('/game/angry-gran-run.html');</script>

    <script>URLs.push('/game/aquapark-io.html');</script>

    <script>URLs.push('/game/backpack-hero.html');</script>

    <script>URLs.push('/game/balatro.html');</script>

    <script>URLs.push('/game/baldis-basics-plus-0-4.html');</script>

    <script>URLs.push('/game/ballistic.html');</script>

    <script>URLs.push('/game/basket-bros-io-66-ez.html');</script>

    <script>URLs.push('/game/basket-random-unblocked-games-76.html');</script>

    <script>URLs.push('/game/basketball-stars-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/beach-buggy-racing.html');</script>

    <script>URLs.push('/game/bhop-pro.html');</script>

    <script>URLs.push('/game/bitlife-life-simulator.html');</script>

    <script>URLs.push('/game/bitlife-simulator.html');</script>

    <script>URLs.push('/game/bitlife-unblocked-games-76.html');</script>

    <script>URLs.push('/game/box-fight-champions-legacy.html');</script>

    <script>URLs.push('/game/cat-trap-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/catnap-poppy-playtime.html');</script>

    <script>URLs.push('/game/cookie-clicker-2.html');</script>

    <script>URLs.push('/game/cookie-clicker-latest-version.html');</script>

    <script>URLs.push('/game/cool-math-games-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/crossy-road.html');</script>

    <script>URLs.push('/game/cs-go-2024.html');</script>

    <script>URLs.push('/game/donkey-kong-unblocked.html');</script>

    <script>URLs.push('/game/doorman-verify-neighbor-game.html');</script>

    <script>URLs.push('/game/drift-boss-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/drift-hunters-2024.html');</script>

    <script>URLs.push('/game/drift-hunters-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/drive-mad.html');</script>

    <script>URLs.push('/game/duck-life-unblocked-77.html');</script>

    <script>URLs.push('/game/duet-cats.html');</script>

    <script>URLs.push('/game/duolingo-horror-game.html');</script>

    <script>URLs.push('/game/eggy-car.html');</script>

    <script>URLs.push('/game/fireboy-and-watergirl.html');</script>

    <script>URLs.push('/game/five-nights-at-freddys-4.html');</script>

    <script>URLs.push('/game/five-nights-at-freddys-sister-location.html');</script>

    <script>URLs.push('/game/five-nights-at-shreks-hotel-2.html');</script>

    <script>URLs.push('/game/fnf-mods-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/fnf.html');</script>

    <script>URLs.push('/game/football-legends.html');</script>

    <script>URLs.push('/game/forza-horizon-5.html');</script>

    <script>URLs.push('/game/friday-night-funkin-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/garrys-mod-2024.html');</script>

    <script>URLs.push('/game/garten-of-banban-2024.html');</script>

    <script>URLs.push('/game/geometry-dash-2-2-unblocked-76.html');</script>

    <script>URLs.push('/game/geometry-dash-2-3.html');</script>

    <script>URLs.push('/game/geometry-dash-classic.html');</script>

    <script>URLs.push('/game/geometry-dash-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/geometry-dash-world-unblocked-76.html');</script>

    <script>URLs.push('/game/geometry-dash.html');</script>

    <script>URLs.push('/game/getting-over-it.html');</script>

    <script>URLs.push('/game/gorebox-2.html');</script>

    <script>URLs.push('/game/gorebox.html');</script>

    <script>URLs.push('/game/gorilla-tag-pfp-generator.html');</script>

    <script>URLs.push('/game/gorilla-tag.html');</script>

    <script>URLs.push('/game/granny-4.html');</script>

    <script>URLs.push('/game/granny-chapter-two.html');</script>

    <script>URLs.push('/game/granny.html');</script>

    <script>URLs.push('/game/gta-grand-theft-auto.html');</script>

    <script>URLs.push('/game/head-soccer.html');</script>

    <script>URLs.push('/game/heardle-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/hole-io.html');</script>

    <script>URLs.push('/game/hospital-666.html');</script>

    <script>URLs.push('/game/jellycar-worlds-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/kinito-pet.html');</script>

    <script>URLs.push('/game/kinitopet.html');</script>

    <script>URLs.push('/game/lunch-lady.html');</script>

    <script>URLs.push('/game/melon-playground.html');</script>

    <script>URLs.push('/game/minecraft-1-20.html');</script>

    <script>URLs.push('/game/minecraft-bed-wars.html');</script>

    <script>URLs.push('/game/minecraft.html');</script>

    <script>URLs.push('/game/mommy-long-legs.html');</script>

    <script>URLs.push('/game/monkey-mart.html');</script>

    <script>URLs.push('/game/moto-x3m-pool-party.html');</script>

    <script>URLs.push('/game/my-mini-mart.html');</script>

    <script>URLs.push('/game/only-up.html');</script>

    <script>URLs.push('/game/ovo-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/pandemic-2.html');</script>

    <script>URLs.push('/game/panicore.html');</script>

    <script>URLs.push('/game/papas-burgeria-hd.html');</script>

    <script>URLs.push('/game/papas-burgeria-to-go.html');</script>

    <script>URLs.push('/game/papas-burgeria-unblocked.html');</script>

    <script>URLs.push('/game/people-playground.html');</script>

    <script>URLs.push('/game/pixel-shooter-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/pizza-tower.html');</script>

    <script>URLs.push('/game/pogostuck.html');</script>

    <script>URLs.push('/game/poppy-playtime-2-chapter.html');</script>

    <script>URLs.push('/game/poppy-playtime-horror.html');</script>

    <script>URLs.push('/game/retro-bowl-college-unblocked-66.html');</script>

    <script>URLs.push('/game/rooftop-snipers-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/run-3-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/run-3.html');</script>

    <script>URLs.push('/game/satisgame.html');</script>

    <script>URLs.push('/game/slime-road-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/slither-io-2.html');</script>

    <script>URLs.push('/game/slither-io-not-working.html');</script>

    <script>URLs.push('/game/slither-io.html');</script>

    <script>URLs.push('/game/slope-unblocked-games-76.html');</script>

    <script>URLs.push('/game/slope-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/small-world-cup.html');</script>

    <script>URLs.push('/game/smash-karts-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/smash-karts.html');</script>

    <script>URLs.push('/game/soccer-skills-euro-cup-2021.html');</script>

    <script>URLs.push('/game/start-survey-roblox.html');</script>

    <script>URLs.push('/game/stick-man-descruction-2.html');</script>

    <script>URLs.push('/game/stick-man-descruction-3.html');</script>

    <script>URLs.push('/game/stickman-descruction.html');</script>

    <script>URLs.push('/game/stickman-fighter.html');</script>

    <script>URLs.push('/game/stickman-hook.html');</script>

    <script>URLs.push('/game/storyteller-2.html');</script>

    <script>URLs.push('/game/storyteller.html');</script>

    <script>URLs.push('/game/strands-nyt-crossword.html');</script>

    <script>URLs.push('/game/strands-unlimited.html');</script>

    <script>URLs.push('/game/subway-surfers-2024.html');</script>

    <script>URLs.push('/game/subway-surfers-houston.html');</script>

    <script>URLs.push('/game/subway-surfers-zurich-2024.html');</script>

    <script>URLs.push('/game/subway-surfers-zurich.html');</script>

    <script>URLs.push('/game/subway-surfers.html');</script>

    <script>URLs.push('/game/suck-up.html');</script>

    <script>URLs.push('/game/super-falling-fred.html');</script>

    <script>URLs.push('/game/surviv-io.html');</script>

    <script>URLs.push('/game/tap-away-3d.html');</script>

    <script>URLs.push('/game/tbg95-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/thats-not-my-neighbor-all-doppelgangers.html');</script>

    <script>URLs.push('/game/thats-not-my-neighbor-clown.html');</script>

    <script>URLs.push('/game/thats-not-my-neighbor-full-game.html');</script>

    <script>URLs.push('/game/thats-not-my-neighbor-horror.html');</script>

    <script>URLs.push('/game/the-amazing-digital-circus.html');</script>

    <script>URLs.push('/game/the-coffin-of-andy-and-leyley-chapter-2.html');</script>

    <script>URLs.push('/game/the-coffin-of-andy-and-leyley-chapter-3.html');</script>

    <script>URLs.push('/game/the-exit-8.html');</script>

    <script>URLs.push('/game/traffic-run.html');</script>

    <script>URLs.push('/game/trap-the-cat-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/trapping-cat-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/tunnel-rush-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/ufc-5.html');</script>

    <script>URLs.push('/game/universe-sandbox.html');</script>

    <script>URLs.push('/game/vex-8-unblocked-games-premium.html');</script>

    <script>URLs.push('/game/whos-your-daddy.html');</script>

    <script>URLs.push('/game/zen-match.html');</script>

    <script>URLs.push('/game/zoonomaly.html');</script>


<script>
    url= URLs[Math.floor(Math.random()* URLs.length)];
    console.log("url", url);
    window.location= url;
</script>
