body {
  font-family: Poppins, sans-serif;
  background: #cc6134;
  background-image: radial-gradient(at 95.0% 27.0%, hsl(230deg 95% 42%) 0px, transparent 50%), radial-gradient(at 33.0% 31.0%, hsl(282deg 80% 44%) 0px, transparent 50%), radial-gradient(at 18.0% 96.0%, #c495e8 0px, transparent 50%), radial-gradient(at 97.0% 16.0%, hsl(247deg 45% 36%) 0px, transparent 50%), radial-gradient(at 64.0% 36.0%, hsl(76deg 99% 85%) 0px, transparent 50%);
  color: white;
}

html, body {
  /*height: 100%;*/
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  color: #fff;
  margin-bottom: 35px;
  background-color: rgba(255, 255, 255, .2);
  position: relative;
}

.header__bg-container {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  opacity: .2;
}

.header__bg-container img {
  max-height: calc(100vh - 100px);
}

.header__inner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
  height: 80px;
}

.logo img {
  max-width: 160px;
  max-height: 55px;
}

@media (min-width: 1280px) {
  .navbar__search {
    flex: 1;
  }
}

.search-form {
  display: block;
  position: relative;
}

.search-form__input {
  width: 100%;
  font-size: .8667rem;
  padding: 1rem 45px 1rem 1rem;
  min-height: 3.2rem;
  line-height: 1.2;
  border-radius: 15px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border: 0;
}

.search-form__input:focus {
  outline: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  color: white;
}

.search-form__input::placeholder {
  color: white;
}

.search-form__btn {
  outline: none;
  top: 3px;
  right: 3px;
  bottom: 3px;
  position: absolute;
  border: 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 10px;
  z-index: 1;
  background: #1f964e;
  color: #fce3b9;
}

.search-form__btn .icon {
  fill: #fce3b9;
}

.form-input::-webkit-input-placeholder {
  font-weight: 400;
  opacity: 1;
  color: #a7a3a3;
  transition: opacity .5s;
  font-family: "Poppins",sans-serif;
}

.navbar.collapsed {
  transform: translateX(100%);
}

.navbar {
  display: flex;
  flex-flow: column nowrap;
  gap: 45px;
  position: fixed;
  z-index: 11;
  right: 0;
  top: 0;
  bottom: 0;
  background: #cc6134;
  padding: 1rem 4.5rem 2rem 1rem;
  overflow: hidden;
  align-items: start;
  justify-content: flex-start;
}

@media (min-width: 1280px) {
  .navbar {
    position: static;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    flex-flow: row wrap;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .navbar.collapsed {
    transform: translateX(0);
  }
}

.navmenu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

@media (min-width: 1280px) {
  .navmenu {
    flex-flow: row nowrap;
  }
}

.navmenu li {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  position: relative;
}

@media (min-width: 1280px) {
  .navmenu li {
    margin: 0;
  }
}

.navmenu a {
  justify-content: center;
  position: relative;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  padding: 5px 15px;
  text-transform: uppercase;
}

@media (min-width: 1280px) {
  .navmenu a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(255, 255, 255, .5);
  }
}

.navmenu li:last-child a::after {
  display: none;
}

.actions {
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
  padding: 0;
  margin: 0;
}

@media (min-width: 1280px) {
  .actions {
    flex-flow: row nowrap;
    align-items: center;
  }
}

.actions li {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  position: relative;
}

@media (min-width: 1280px) {
  .actions li {
    margin: 0;
  }
}

.actions a {
  display: inline-flex;
  vertical-align: middle;
  flex-flow: row nowrap;
  align-items: center;
  padding: 13px 15px;
  min-height: 3.2rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 15px;
  border: 0;
  position: relative;
  z-index: 0;
  white-space: nowrap;
  outline: none;
  color: #fff;
  background: #7928d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#7928d7), to(#6622b5));
  background: linear-gradient(180deg, #7928d7 0%, #6622b5 100%);
}

.actions a:hover {
  background: #7928d7;
  -webkit-box-shadow: 0 0;
  box-shadow: 0 0;
  color: #fff;
}

@media (min-width: 1280px) {
  .header__mobile {
    display: none;
  }
}

.navbar-toggle {
  position: relative;
  z-index: 20;
  flex: none;
  width: 48px;
  height: 48px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  transition: .2s ease-in-out;
  background-color: #7928d7;
  border: 1px solid #7928d7;
  border-radius: 15px;
  margin-bottom: 0;
}

.navbar-toggle__icon {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
  width: 25px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: right;
  font-size: 0;
}

.navbar-toggle.active {
  border-color: #7928d7;
}

.navbar-toggle__item {
  width: 100%;
  height: 1px;
  background: #fff;
  display: inline-block;
  transition: .2s all ease-in-out;
}

.navbar-toggle__item:nth-of-type(1) {
  width: 100%;
}

.navbar-toggle__item:nth-of-type(2) {
  width: 75%;
}

.navbar-toggle__item:nth-of-type(3) {
  width: 100%;
}

.navbar-toggle:hover .navbar-toggle__item, .navbar-toggle:focus .navbar-toggle__item {
  width: 100%;
}

.navbar-toggle.active .navbar-toggle__item {
  width: 100%;
}

.navbar-toggle.active .navbar-toggle__item--1 {
  transform: rotate(45deg) translate(3px, 3px);
}

.navbar-toggle.active .navbar-toggle__item--2 {
  transform: rotate(-45deg) translate(2px, -2px);
}

.navbar-toggle.active .navbar-toggle__item--3 {
  display: none;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1240px;
  }
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}

.slider-container {
  position: relative;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  z-index: 999;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 50%;
  max-width: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
}

@media (min-width: 320px) {
  .slide {
    max-width: 33.33%;
    min-width: 33.33%;
  }
}

@media (min-width: 460px) {
  .slide {
    max-width: 25%;
    min-width: 25%;
  }
}

@media (min-width: 640px) {
  .slide {
    max-width: 16.6%;
    min-width: 16.6%;
  }
}

@media (min-width: 768px) {
  .slide {
    max-width: 12.5%;
    min-width: 12.5%;
  }
}

@media (min-width: 1024px) {
  .slide {
    max-width: 10%;
    min-width: 10%;
  }
}

.prev {
  border-radius: 15px 0 0 15px;
}

.next {
  border-radius: 0 15px 15px 0;
}

.game-item {
  position: relative;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.thumb {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.thumb img {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.overlay-content .heading {
  margin: 0;
  font-size: .875rem;
  color: white;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 1;
  max-width: 100%;
  transition: .4s ease-in-out;
}

.content .heading a {
  font-size: 14px;
  letter-spacing: -.02em;
}

.slider-navs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 16px;
}

.top-games__navs {
  justify-content: center;
  margin-top: 15px;
}

.slider-navs__nav {
  width: 40px;
  height: 60px;
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: #1f964e;
  color: white;
}

@media (min-width: 1280px) {
  .top-games__navs {
    position: absolute;
    top: 25px;
    left: -40px;
    right: -40px;
    justify-content: space-between;
    margin-top: 0;
  }
}

@media (min-width: 720px) {
  .slider-navs__nav {
    display: flex;
  }
}

.wrapper {
  display: flex;
  flex-flow: column-reverse wrap;
  padding: 0 0 30px;
  position: relative;
  z-index: 2;
}

@media (min-width: 1024px) {
  .wrapper {
    flex-flow: row nowrap;
  }
}

.wrapper__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  width: 100%;
}

.wrapper__sidebar {
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .wrapper__sidebar {
    max-width: 320px;
    flex: 0 0 320px;
    padding-left: 30px;
    margin-bottom: 0;
  }
}

.games .heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  padding: 0 0 1.5rem;
  margin: 0 0 1.5rem;
}

.heading__title {
  flex: 1;
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.1;
  position: relative;
  z-index: 0;
}

.games__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

@media (min-width: 320px) {
  .games__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 580px) {
  .games__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 720px) {
  .games__items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .games__items {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1280px) {
  .games__items {
    grid-template-columns: repeat(5, 1fr);
  }
}

.game {
  position: relative;
  margin-bottom: 25px;
}

.game__thumb {
  position: relative;
  transition: .2s ease-in-out;
  background: #1f964e;
  border-radius: 25px;
  overflow: hidden;
}

.game__thumb img {
  transition: .2s ease-in-out;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
  padding-bottom: 5px;
}

.game__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: opacity .2s ease-in-out;
  opacity: 0;
  padding: 15px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.2;
}

.game:hover .game__overlay {
  opacity: 1;
}

.game:hover .game__heading {
  opacity: 0;
}

.game:hover .game__thumb {
  border-radius: 25px;
}

.btn--accent {
  position: relative;
  font-weight: 700;
  padding: 13px 15px;
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  z-index: 0;
  background: #7928d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#7928d7), to(#6622b5));
  background: linear-gradient(180deg, #7928d7 0%, #6622b5 100%);
}

.game__overlay-button {
  background-color: #7928d7;
}

.game__heading {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  left: 5px;
  right: 5px;
  line-height: 1.2;
  text-align: center;
  background: #1f964e;
  padding: 5px 15px;
  border-radius: 15px;
  display: block;
  color: #fff;
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, .11) inset;
  z-index: 2;
  opacity: 1;
  transition: .2s ease-in-out;
}

.game__title {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game-likes {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.game-likes__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 6px;
}

.game-likes__icon {
  fill: #ffd93b;
  width: 1.25rem;
  height: 1.25rem;
}

.game-likes__number {
  font-size: .875rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  top: 1px;
  color: #ffd93b;
}

/* right */

.best-games {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, .11) inset;
  padding: 15px;
  margin-bottom: 30px;
}

.best-games__heading {
  text-align: center;
  color: #fff;
  margin: 0 0 15px;
}

.best-games__title {
  font-size: 1.563rem;
  font-weight: bold;
  padding: 0;
  line-height: 1;
  margin: 0;
}

.best-games__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.best-game {
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
  max-width: 80px;
}

.best-game__thumb {
  border-radius: 15px;
  overflow: hidden;
}

.best-game__thumb img {
  display: block;
  border-radius: 15px;
  transition: .4s ease-in-out;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.best-game:hover .best-game__thumb img {
  transform: scale(1.1);
}

.best-game__title {
  font-size: .75rem;
  line-height: 1.1;
  color: #fff;
  padding: 6px 0 5px;
  font-weight: 400;
  text-align: center;
}

.content-box {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

@media (min-width: 580px) {
  .content-box {
    padding: 2rem;
  }
}

.content h1 {
  font-size: 1.571rem;
}

.content h2 {
  font-size: 1.571rem;
}

.content h3 {
  font-size: 1.3rem;
}

.content p {
  margin-bottom: 25px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-weight: 900;
  padding: 0;
  margin: 25px 0;
  max-height: 1000000px;
  line-height: 1.1;
  color: white;
}

.content ul:not([class]) li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 7px;
  height: 7px;
  background: #7928d7;
}

.content ul:not([class]) li {
  list-style-type: none;
  padding: 0 0 10px 20px;
  text-decoration: none;
  position: relative;
}

.content-box ul:not([class]) li a {
  color: rgba(255,255,255,0.7);
  text-decoration: underline;
}

.content *:last-child {
  margin-bottom: 0;
}

footer {
  background-color: rgba(255, 255, 255, .2);
}

.footer__bg-container {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 100%;
  opacity: .3;
}

.footer__bg-container img {
  max-height: calc(100vh - 100px);
}

.footer__inner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 106px;
}

@media (max-width: 992px) {
  .footer__inner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: auto;
  }
}

.footer__logo {
  margin-right: 65px;
}

@media (max-width: 992px) {
  .footer__logo {
    margin: 0 auto 15px;
  }
}

.footermenu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media (min-width: 720px) {
  .footermenu {
    flex-flow: row nowrap;
  }
}

.footermenu li {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  position: relative;
}

@media (min-width: 720px) {
  .footermenu li {
    margin: 0;
  }
}

.footermenu a {
  justify-content: center;
  position: relative;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  padding: 5px 15px;
  text-transform: uppercase;
}

.footer__copyright {
  margin-left: auto;
  color: #fff;
}

@media (max-width: 992px) {
  .footer__copyright {
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  footer {
    padding: 10px 0;
    background-size: cover;
  }
}

/* detail */

.game-player {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 15px;
}

.game-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.game-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.game-iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 10px 10px 0 0;
}

.wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.p-meta {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  gap: 5px;
}

@media (min-width: 720px) {
  .p-meta {
    flex-wrap: nowrap;
    gap: 10px;
  }
}

.p-meta__item--first {
  width: 100%;
}

@media (min-width: 580px) {
  .p-meta__item--first {
    width: auto;
    margin-right: auto;
  }
}

.p-meta__item--last {
  margin-left: auto;
}

.social-likes {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  min-height: 36px;
  margin: -0.45em;
  line-height: 1.45;
}

.social-likes-widget {
  border-radius: 15px;
  overflow: hidden;
  margin: 0 3px;
  display: block;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  margin: 0.45em;
  line-height: inherit;
  border: 0;
  text-align: left;
  color: #fff;
}

.social-likes-widget:hover, .social-likes-widget:active, .social-likes-widget:focus {
  opacity: 0.9;
  filter: saturate(0.8) brightness(1.15);
}

.social-likes-facebook {
  background: #3b5998;
}

.social-likes-twitter {
  background: #55acee;
}

.social-likes-plusone {
  background: #dc4e41;
}

.social-likes-pinterest {
  background: #bd081c;
}

.social-likes-widget .social-likes-icon {
  position: static;
  display: block;
  margin: 0.3125em;
  top: 0.3em;
  left: 0.4em;
  width: 20px;
  height: 20px;
  margin: 16px;
}

.btn--icon-mobile {
  font-size: 0;
  line-height: 1.2rem;
}

@media (min-width: 720px) {
  .btn--icon-mobile {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
  }
}

.btn--accent:hover {
  background: #7928d7;
  box-shadow: 0 0;
}

.btn--icon-mobile .icon {
  margin: 0;
  color: white;
  fill: white;
  width: 24px;
  height: 24px;
}

@media (min-width: 720px) {
  .btn--icon-mobile .icon {
    margin-right: 8px;
  }
}

@media (min-width: 580px) {
  .p-meta__item--last {
    margin-left: initial;
  }
}

.btn-fullscreen {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #7928d7;
  transition: .4s ease-in-out;
}

.btn-fullscreen .icon {
  width: 24px;
  height: 24px;
}

.btn-fullscreen::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 15px;
  opacity: 1;
  background: #1f964e;
  background: linear-gradient(166deg, #1f964e 0%, #7928d7 100%);
  transition: .4s ease-in-out;
}

.btn-fullscreen:hover::after {
  opacity: 0;
}

@media (max-width: 500px) {
  .games .heading {
    flex-flow: column;
    align-items: self-start;
    gap: 20px;
  }
}

.heading__meta {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.heading__likes {
  margin-left: auto;
}

@media (max-width: 500px) {
  .heading__likes {
    margin-left: 0;
  }
}

.heading__rating {
  margin-left: 40px;
}

@media (max-width: 500px) {
  .heading__meta {
    justify-content: space-between;
    width: 100%;
  }
}

.vote-block {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.vote-block .rating {
  display: flex;
  flex-flow: row-reverse nowrap;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
  vertical-align: middle;
  background: none !important;
}

.vote-block ol.rating {
  position: relative;
  padding: 0 !important;
}

.vote-block .rating li .icon {
  fill: #fff;
  width: 22px;
  height: 22px;
}

.rating-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}

.vote-block .rating-info {
  display: block;
  position: relative;
  color: white;
  top: 2px;
}

.content-box__thumb {
  display: block;
  float: left;
  border-radius: 15px;
  margin: 0 1rem 1rem 0;
  width: 150px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.hot-games-items {
  display: grid;
  gap: 10px;
}

@media (min-width: 720px) {
  .hot-games-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .hot-games-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

.hot-games-items .game-item {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  margin: 0;
}

.game-thumb {
  overflow: hidden;
}

.game-thumb {
  position: relative;
  transition: .2s ease-in-out;
  background: #1f964e;
  border-radius: 25px;
  overflow: hidden;
}

.game-thumb img {
  transition: .2s ease-in-out;
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.game-item-img {
  max-width: 100px;
  display: block;
  height: auto;
  transition: .4s ease-in-out;
}

.game-item-heading {
  padding-top: 8px;
  flex: 1;
}

.game-item-title {
  display: block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  line-height: 1;
  transition: .4s ease-in-out;
}

.game-item-cats {
  margin: 5px 0;
}

.game-item-cats a {
  line-height: 1;
  font-size: .875rem;
  color: rgba(255,255,255,.7);
  text-decoration: none;
}

.game-item-cats a:hover, .game-item-cats a:focus, .game-item-cats a:active {
  color: #fff;
}

.game-item:hover .game-item-title {
  color: #19c21c;
}

.game-item:hover .game-item-img {
  transform: scale(1.1);
}

.rating-info .icon {
  fill: #19c21c;
  width: 16px;
}

.rating-info-number {
  font-weight: 700;
  position: relative;
  top: 2px;
  font-size: .875rem;
  color: #19c21c;
}

.content b, .content strong {
  color: rgba(255, 255, 255, .5);
  font-weight: 700;
}

/* contact */

.card {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 50px;
  border-radius: 24px;
  color: white;
  background: transparent;
  display: block;
  border: none;
}

.card span {
  float: left;
  text-align: left !important;
  margin-bottom: 5px;
}

form.card input[type=text], form.card input[type=email], form.card select, form.card textarea {
  border: 1px solid #ffffff !important;
  font-family: Montserrat;
  font-size: 16px;
  height: 50px;
  font-weight: 700;
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 15px;
}

.card textarea {
  height: 130px;
  width: 100%;
  border-radius: 15px;
}

.btn.base-button {
  height: 40px;
  background: linear-gradient(180deg, #7928d7 0%, #6622b5 100%);
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 0;
  border: none;
  padding: 22px 50px;
  border-top: 0;
  border-bottom: 0;
  text-transform: uppercase;
  border-radius: 15px;
}

.btn.base-button:hover {
  background: #7928d7;
}

